// 全局样式
$font-color: rgb(139, 208, 76);
$font-size: 40px;

// 背景色
$backgroud-color: #0f0f0f;

// 内外边距
$margin-size: 5px;
$padding-size: 5px;

// 字体
$font-title: 28px; //标题
$font-family: Comic Sans MS, cursive;
$font-color: #fff;
